<!DOCTYPE html>

<html>

<head>

  <title>Ecommerce Demo | Admin</title>

  <%= csrf_meta_tags %>

  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<h1 class="test">Welcome</h1>
<%= yield %>

</body>

</html>

