<!DOCTYPE html>

<html>

<head>

  <title>Ecommerce Demo | Sales</title>

  <%= csrf_meta_tags %>

  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'sales/sales', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'sales/sales', 'data-turbolinks-track': 'reload' %>

</head>

<body >
<h1 class="test">Forever</h1>
<%= yield %>

</body>

</html>

